/* ============================ BLOCO HOME ============================ */

.bloco_home {
  display: flex;
  align-items: center;

  max-width: 100%;
  height: 100vh;

  padding: 2rem;
  margin-left: 10rem;
}


/* ============================ Imagem de Perfil */

.home_img {
    width: 30%;
}


/* ============================ MOBILE */

@media(max-width: 800px) {
    .bloco_home {
      display: none;
    }
}

@media (max-width: 990px) {
  .bloco_home {
    padding: 5rem;
    margin-left: 1rem;
  }
}






/* ============================ BLOCO PROJETOS ============================ */

.bloco_projetos {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  flex-direction: column;
  
  gap: 6rem;

  width: 100%;
  padding: 2rem;

  background-color: white;
}

.bloco_projetos h1 {
  padding: 0 1rem 0 0;

  color: var(--color-blue-principal);
  border-bottom: 2px solid var(--color-blue-02);

  font-size: var(--font-size-h1);
  font-weight: medium;
}


/* => GRID LAYOUT */

.grid_projetos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;

  width: 100%;
}


/* ============================ MOBILE */

@media (max-width: 800px) {
  .grid_projetos {
    grid-template-columns: 1fr;
  }
}