/* ============================ BLOCO HOME ============================ */

.bloco_home {
  display: flex;
  align-items: center;

  max-width: 100%;
  height: 90vh;

  padding: 2rem;
  margin-left: 3rem;
  gap: 1.7rem;
}


/* ============================ Imagem de Perfil */

.home_img {
    width: 27%;
}


/* ============================ MOBILE */

@media(max-width: 800px) {
    .bloco_home {
      display: none;
    }
}

@media (max-width: 990px) {
  .bloco_home {
    padding: 5rem;
    margin-left: 1rem;
  }

  .home_img {
    display: none;
  }
}



/* ============================ BLOCO PROJETOS ============================ */

.bloco_projetos {
  width: 100%;
  padding: 5rem 10rem;
}

.text_projetos {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  text-align: center;

  width: 100%;
  height: 100%;

  gap: 1rem;
}


/* => GRID LAYOUT */

.grid_projetos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;

  padding: 1.5rem;
  margin: 0 auto;

  width: 100%;
}


/* ============================ MOBILE */

@media (max-width: 1280px) {
  .grid_projetos {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .grid_projetos {
    grid-template-columns: 1fr;
  }

  .bloco_projetos {
    padding: 5rem 5rem 2rem 5rem;
  }
}


/* ============================ BLOCO SOBRE MIM ============================ */

.bloco_sobre {
  display: flex;
  align-items: center;
  
  width: 100%;
  padding: 0 10rem 5rem 10rem;
  gap: 5rem;
}

.sobre_divider {
  display: flex;
  flex-direction: column;

  align-items: flex-start;

  gap: 2rem;
  text-align: justify;
}

.sobre_img {
  width: 30%;
  border-radius: var(--border-radius-circle);
}


@media (max-width: 1280px) {
  .bloco_sobre {
    flex-direction: column;
    align-items: center;
  }

  .sobre_img {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .bloco_sobre {
    padding: 0 5rem 2rem 5rem;
  }
}




/* ============================ RODAPE ============================ */

.rodape_view {
  display: flex;
  justify-content: space-between;

  margin-top: 5rem;
  width: 100%;
  padding: 4rem;
}

.rodape_view p {
  color: white;
}

.rodape_icons {
  display: flex;
  gap: 2rem;
}

/* ============================ MOBILE */

@media (max-width: 890px) {
  .rodape_view {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    text-align: center;
    margin-top: 0;
    gap: 2rem;
  }
}