/* ============================ BLOCO HOME ============================ */

.bloco_home {
  display: flex;
  align-items: center;

  max-width: 100%;
  height: 100vh;

  padding: 2rem;
  margin-left: 10rem;
}


/* ============================ Imagem de Perfil */

.home_img {
    width: 30%;
}


/* ============================ MOBILE */

@media(max-width: 800px) {
    .bloco_home {
      display: none;
    }
}

@media (max-width: 990px) {
  .bloco_home {
    padding: 5rem;
    margin-left: 1rem;
  }
}




/* ============================ BLOCO PROJETOS ============================ */

.bloco_projetos {
  width: 100%;
  padding: 3rem 1rem;
}

.bloco_projetos h1 {
  color: var(--color-blue-principal);

  font-size: var(--font-size-h1);
  font-weight: bold;

  line-height: var(--lh-tight);
}

.bloco_projetos p {
  font-size: var(--font-size-p);
}

.text_projetos {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  width: 100%;
  height: 100%;

  gap: 1rem;
}


/* => GRID LAYOUT */

.grid_projetos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;

  padding: 1.5rem;
  margin: 0 auto;

  width: 100%;
}


/* ============================ MOBILE */

@media (max-width: 1280px) {
  .grid_projetos {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .grid_projetos {
    grid-template-columns: 1fr;
  }
}






.rodape_view {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 4rem;
}

.rodape_view p {
  font-size: var(--font-size-p);
  color: white;
}

.rodape_icons {
  display: flex;
  gap: 1rem;
}