.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: fixed;
    right: 0;
    width: 50%;
    padding: 1rem;

    border-radius: 0 0 0 5rem;

    color: white;
    z-index: 9999;

    transition: var(--transition-all);
}


.navbar_02 {
    display: flex;

    justify-content: flex-start;
    align-items: center;

    padding: 2rem;
    width: 100%;

    transition: var(--transition-all);
}


.navbar_link, 
.link_ativo {
    padding: 0.5rem 1rem;
    font-size: var(--font-size-sub);
    transition: var(--transition-all);

    border-bottom: 2px solid transparent;
}

.link_ativo {
    border-bottom: 2px solid var(--color-blue-02);
}





/* ======> Mobile <====== */

@media(max-width: 800px) {
    .navbar {
        display: none;
    }
}

@media(max-width: 1400px) {
    .navbar {
        width: 100%;
    }
}