.home_nome {
  display: flex;
  flex-direction: column;

  text-align: start;
  width: 70%;
  padding: 1.5rem;
  gap: 1rem;

  color: var(--color-cinza-light);
}


@media(max-width: 800px) {
    .home_nome {
        width: 100%;
    }
    
    .home_nome h5 {
        margin-left: 0;
    }
}