/* ============================ MENU ARCO ============================ */

.menu_content {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 50;
}

.menu_desktop {
  left: 5rem;
  top: 50%;
  transform: translateY(-50%);
}

.menu_mobile {
  left: 1rem;
  bottom: 1rem;
  top: auto;
  transform: none;
}


.menu_botao {
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 50;

    width: 56px;
    height: 56px;

    background-color: rgb(234, 233, 233);
    color: var(--color-lilas);

    border-radius: 100%;
    border: none;

    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}


/* === Arco do menu === */

.menu_arc {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-40%, -50%);
    pointer-events: none;
    z-index: 0;
}


/* === Itens do menu === */

.menu_item {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    width: 56px;
    height: 56px;

    margin: 0;
    padding: 2rem;

    background: var(--color-circle);
    border-radius: 10rem;

    cursor: pointer;
    overflow: hidden;

    transition: all 0.3s ease;
}

.menu_item:hover {
    padding-right: 8.2rem;
    padding-left: 2rem;
}

.menu_icon {
    border-radius: 9999px;
    background: transparent;

    z-index: 2;
}

.menu_label {
    position: absolute;
    margin-left: 9.2rem;

    white-space: nowrap;
    opacity: 0;

    pointer-events: none;
    color: var(--color-lilas);
}



/* ============================ AURORA BACKGROUND ============================ */

/* Container principal */
.aurora_wrapper {
  position: fixed;
  inset: 0;
  z-index: -10;
  overflow: hidden;
  background: #2e0019;
}

/* Base das manchas (Blobs) */
.aurora_blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(80px); 
  opacity: 0.4;
  mix-blend-mode: screen; 
  pointer-events: none;
  will-change: transform; 
  transform: translateZ(0);
}

/* Lapidação Individual */
.blob_amarelo {
  width: 500px;
  height: 500px;
  background-color: var(--color-amarelo);
  top: -10%;
  left: -10%;
}

.blob_lilas {
  width: 450px;
  height: 450px;
  background-color: var(--color-lilas);
  bottom: 10%;
  right: 10%;
}

.blob_magenta {
  width: 350px;
  height: 350px;
  background-color: var(--color-magenta);
  top: 20%;
  right: 15%;
}

/* Overlay opcional para dar textura (Noise) */
.aurora_overlay {
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.05; 
  pointer-events: none;
}




/* ============================ CONTAINER PRINCIPAL ============================ */

.container_principal {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  width: 100%;
  padding: 5rem;

  background-color: var(--color-cinza-light);
}

/* ============================ BLOCO HOME ============================ */

.bloco_home {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;

  padding: 2rem;
}

.home_nome {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}


/* ============================ Imagem de Perfil */

.profile_container {
  position: relative;
  width: 90%; 
  height: 90%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Anel que brilha e corre */
.ring_svg_dash {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  filter: drop-shadow(0 0 5px #edd01f); /* Brilho externo */
}

.image_wrapper {
  width: 100%; 
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  /* Uma borda interna escura para separar a foto do anel */
  border: none; 
  z-index: 1;
}

.profile_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




/* ============================ BLOCO PROJETOS ============================ */

.cards_container {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 2rem;

  width: 100%;
}


/* --- Card Normal --- */
.card_simples {
  position: relative;
  border-radius: 1.5rem;
  overflow: hidden;
  cursor: pointer;
  background: var(--color-circle);
  border: none;

  width: 50%;
}

.card_simples_img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.card_simples:hover .card_simples_img {
  opacity: 1;
}

.card_simples_info {
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_simples_titulo {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
}

.card_simples_tag {
  color: #edd01f; /* Seu dourado */
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* --- Dialog / Modal --- */
.dialog_overlay {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  position: fixed;
  inset: 0;
  z-index: 999;
}

.dialog_content {
  background: rgb(26, 26, 26); /* Cor do seu fundo */
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;

  max-width: 60%;
  max-height: 90vh;

  padding: 2rem;
  z-index: 1000;
  overflow-y: auto;
}

.dialog_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

/* Ajuste para Mobile dentro do CSS */
@media (max-width: 768px) {
  .dialog_grid {
    grid-template-columns: 1fr;
  }
}

.dialog_img {
  width: 100%;
  border-radius: 1rem;
}

.dialog_titulo {
  color: white;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.dialog_desc {
  color: #94a3b8;
  line-height: 1.6;
  margin-bottom: 2rem;

  font-size: 1.1rem;
}

.tech_tag {
  background: rgba(148, 31, 237, 0.1);
  color: #e080b4;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 1rem;
  margin-right: 8px;
}

.dialog_close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background: none;
  border: none;
  color: var(--color-cinza-light);
  font-size: 1.2rem;
  cursor: pointer;
}

.dialog_actions {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--color-lilas);
}

.btn_github {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  width: 25%;
  border: 2px solid transparent;

  padding: 0.5rem;

  transition: border 0.3s ease;
}

.btn_github:hover {
  border-bottom: 1px solid var(--color-lilas);
}















/* ============================ CONDIÇÕES PARA MOBILE ============================ */

@media(max-width: 800px) {
    .menu_botao, .menu_item {
        width: 46px;
        height: 46px;

        padding: 0;
    }

    .menu_item:hover {
        padding-right: 0;
        padding-left: 0;
    }

    .bloco_home {
      flex-direction: column;
      gap: 2rem;
    }
}