@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

@font-face {
  font-family: 'FontePrincipal'; 
  src: url('/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {

    /* --- Paleta de Cores --- */

    --color-lilas: #dab4e8;
    --color-magenta: #e080b4;
    --color-amarelo: #edd01f;
    --color-cinza-light: #f0efef;
    --color-cinza-dark: #2d2a29;

    /* Tons de Azul */
    --color-blue-principal: #00242e;
    --color-blue-01: #34a8de;
    --color-blue-02: #74c3d9;

    /* Tons de Verde */
    --color-green-light: #145354;
    --color-green-dark: rgb(0, 41, 38);
    
    --color-button-blue: #005c55;

    /* Backgrounds */
    --background-blue: linear-gradient(145deg, var(--color-blue-principal), #096b92);
    --background-lilas: linear-gradient(145deg, #53002e, #2e0019, #1e0029);
    --color-circle: linear-gradient(50deg, #53002e, #2e0019);
    --color-card: linear-gradient(50deg, rgb(59, 0, 81), #1e0029);
    --color-botao-amarelo: linear-gradient(130deg, #edd01f, #978300);

    --background-card: linear-gradient(145deg, #d3d3d3, #bfc7cc);

    /* Box-shadow */
    --boxshadow-card: 0 2px 8px rgba(0, 0, 0, 0.25);

    
    /* ===> TAMANHO DE FONTE <=== */

    /* Títulos de Impacto */
    --font-size-display: clamp(3.5rem, 10vw, 7rem);   /* Para frases de destaque na Home */
    --font-size-h1:      clamp(2.5rem, 8vw, 4.5rem);    /* Título principal */
    --font-size-h2:      clamp(2rem, 6vw, 3.2rem);      /* Subtítulos de seções */
    --font-size-h3:      clamp(1.75rem, 5vw, 2.4rem);   /* Títulos de blocos */
    
    /* Títulos Menores e UI */
    --font-size-h4:      clamp(1.5rem, 4vw, 1.8rem);
    --font-size-h5:      clamp(1.25rem, 3vw, 1.5rem);   /* */
    --font-size-h6:      clamp(1.1rem, 2.5vw, 1.25rem);

    /* Corpo de Texto e Legendas */
    --font-size-p:       clamp(1rem, 2vw, 1.125rem);    /* Texto principal (aprox. 16px-18px) */
    --font-size-sub:     clamp(0.9rem, 1.5vw, 1rem);    /* Subtextos/Legendas */
    --font-size-small:   0.8rem;                        /* Notas de rodapé fixas */

    /* --- Line Height (Espaçamento entre linhas) --- */
    --lh-tight: 1.1;  /* Para títulos grandes */
    --lh-base:  1.6;  

    --font-size-menu-icon: 1.8rem;
    --font-size-menu-text: 1.2rem;

    /* Raios de Borda */
    --border-radius-sm: 0.25rem;
    --border-radius-md: 2rem;
    --border-radius-lg: 3rem;
    --border-radius-botao: 50px;
    --border-radius-circle: 100%;

    /* Transições */
    --transition-all: all 0.2s ease-in-out;
}

:root,
.radix-themes {

    /* > Aplicação */

    /* Accent (Magenta) */
    --accent-9: var(--color-magenta);
    --accent-10: #e080b4;

    /* Secondary (Lilás) */
    --accent-6: var(--color-lilas);

    /* Backgrounds */
    --gray-1: var(--color-cinza-light);
    --color-background: transparent;
    --gray-12: var(--color-cinza-dark);


    /* > Fonte */
    --default-font-family: 'FontePrincipal', sans-serif;

}

body {
    font-family: 'FontePrincipal', sans-serif;

    width: 100%;
    margin: 0;

    background-color: transparent;
    color: var(--color-cinza-dark);
}


/* ============================ Definição de fontes ============================ */

h1 { font-size: var(--font-size-h1); font-weight: bold; }
h2 { font-size: var(--font-size-h2); }
h3 { font-size: var(--font-size-h3); }
h4 { font-size: var(--font-size-h4); }
h5 { font-size: var(--font-size-h5);}
h6 { font-size: var(--font-size-h6); }
p { font-size: var(--font-size-p); }

h1, h2 { color: var(--color-blue-principal); line-height: var(--lh-tight); }


    /* --- Paleta de Cores (rosa - roxo) --- */

    /* --color-lilas: #dab4e8;
    --color-magenta: #e080b4;
    --color-amarelo: #edd01f;
    --color-cinza-light: #f0efef;
    --color-cinza-dark: #2d2a29;

    --background-lilas: linear-gradient(145deg, #53002e, #2e0019, #1e0029);
    --color-circle: linear-gradient(50deg, #53002e, #2e0019);
    --color-card: linear-gradient(50deg, rgb(59, 0, 81), #1e0029);
    --color-botao-amarelo: linear-gradient(130deg, #edd01f, #978300); */



/* ============================ DIVISAO DE BLOCOS ============================ */

.curva_page {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
}